/* Screen icon 
 * embed icons with echo get_screen_icon('magic-fields');
 * URL is relative to this CSS file 
*/
#icon-magic-fields {
  background: url(../images/wand-hat-32.png) 0 0 no-repeat;
}

/* Messages boxes 
 * Thanks to: http://www.mattvarone.com/web-design/message-box-with-css/
 * */
.message-box { text-align: center; padding: 5px; color:#545454; width:90%;  margin:5px auto; font-weight:bold;}
.clean { background-color: #efefef; border: 2px solid #dedede; }
.info  { background-color: #f7fafd; border: 2px solid #b5d3ff; }
.ok    { background-color: #d7f7c4; border: 2px solid #82cb2f; }
.alert { background-color: #fef5be; border: 2px solid #fdd425; }
.errors { background-color: #ffcdd1; border: 2px solid #e10c0c; }

/** Add Posty Type **/
/* @todo: columns can be added with classes */
#add_mf_posttype, #add_mf_custom_taxonomy {
  width: 40%;
}

/** form post type  **/
.mf_label_checkbox input[type="checkbox"] { width: auto; }
.mf_label_checkbox input{ width: auto; }
.mf_label_checkbox label{ padding-left: 10px;}
.mf_form p { color: #666; font-size: 12px; font-style: italic; font-family: "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif; margin: 2px 0 5px 10px; }
.mf_form label {color: #222; text-shadow: white 0 1px 0; padding: 2px; font-size: 12px;font-weight: normal;}
div.mf_form_right { float: left; clear: right; overflow: hidden; margin: 0; width: 50%; padding: 0 !important; }
div.mf_form_right div.inside { padding: 10px; }
div.mf_form_right div.inside p, div.mf_form_right div.inside label{ font-size: 11px }
div.mf_form_right div.inside textarea { height: 100px;}
div.mf_form_right div.inside input, div.mf_form_right div.inside textarea { margin-top: 7px; }
div.options_label label{ width: 130px; float: left; }
div.options label{ width: 140px; float: left; }
div.options_label input,div.options input{ width: 250px;}


/** Sortable Post Type **/
.mf-order-icon { cursor:move; }
.mf-sortable-placeholder { height: 1.2em; line-height:1.2em; display:table-row } 

/* Removed by GoBrave */

/*
.ui-sortable-helper  { border: 1px solid #DFDFDF; background: #FFF; }
*/
.mf-ajax-loading { width: 16px; height: 16px; background-image:url('../images/ajax-loader.gif'); display:none; } 

/** required span **/
#wpbody-content span.required { color: red; }

/** anchor delete **/
a.mf-delete, span.mf-delete a{ color: #BC0B0B; }
.mf-change-pt { font-weight: bolder; font-size: 12px; padding-left:200px; }
.mf-no-default-group a { text-decoration: none; }
.mf_add_group_field, .mf_delete_group_field { font-size: 10px; }

/*IE8*/
#add_mf_posttype input[type="checkbox"], 
.mf_label_checkbox input[type="checkbox"],
.mf_form input[type="checkbox"]
{ border:0; }

.mf_form input[type="checkbox"] { width: auto;  }

/* form setting mf */
.mf_form_settings{ float: left;
clear: right;
overflow: hidden;
margin: 0;
width: 90%;
padding: 10px;}

/* custom group div right*/
div.group_side{ text-align: justify;}
div.group_side img { display: block; margin-left: auto; margin-right:auto;}
div.mf_form_right h4 { font-style: italic;}

.mf_form_admin .error { color: #cc0000; }
.mf_form_admin label.error {
  margin-left: 4px;
  margin-top: 2px;
  overflow: hidden;
  zoom: 100%;
  color: red;
  padding: 0px 6px 0px 24px;
  line-height: 20px;
  font-size: 10px;
  height: auto;
  display: block;
  /*background: #FFFFCC url(../images/error-magicfields.png) no-repeat 4px 1px;*/
  background: url(../images/error-magicfields.png) no-repeat 4px 1px;
  margin-right: 18px;
  /*border: 1px solid #DCCD4D;*/
}
div#options_field img { display: block; margin-left: auto; margin-right:auto; border: #D9D9DA solid 2px; padding:2px;}
ul.options-tabs li{ display: inline;}
ul.options-tabs li.tabs a { color: #333; }

div.options,div.options_label{ padding-top: 10px; }
div.options legend, div.options_label legend{ font-style: italic; color: #5A5A5A; padding-bottom: 2px; }
form#addCustomGroup,form#addCustomField,form#import_post_type{ padding-top: 10px; }
div.mf_form_right div.categorydiv div.tabs-panel { height: auto; margin-top: 4px; max-height:none; }

.helptext-form textarea{ height: 70px; }

.wp_themeSkin.mceEditor {
  display:block;
  clear:both;
}





/* Changes by GoBrave */

#mf-gen-cont {
  margin: 20px 20px 20px 0px;
  max-width: 960px;
}

#mf-gen-cont input:focus, 
#mf-gen-cont select:focus {
  box-shadow: 0 0 3px #21759B;
  border-color: #21759B;
}

#mf-gen-cont input[type="checkbox"]:focus {
  background: #21759B;
  outline: 1px solid #21759B;
}

#mf-gen-cont #posttype .input.text label {
  display: block;
  cursor: pointer;
  width: 200px;
}

#mf-gen-cont .input.text label {
  cursor: pointer;
  width: 75px;
  display: inline-block;
}

#mf-gen-cont .input.checkboxes input {
  margin-right: 5px;
}

#mf-gen-cont .input span {
  font-size: 10px;
  color: #616161;
  font-style: italic;
}

#mf-gen-cont .input.text input {
  padding: 3px;
  color: #333333;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

#mf-gen-cont div#posttype {
  background-color: #ECECEC;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#mf-gen-cont div.input {
  margin: 5px 0px 5px 0px;
}

#mf-gen-cont h1, #mf-gen-cont h2, #mf-gen-cont h3 {
  margin-top: 0px;
}

#mf-gen-cont div.submit input, 
#mf-gen-cont div.addgroupbutton input {
  padding: 10px;
  margin: 10px;
}

#mf-gen-cont div#hidden {
  display: none;
}

#mf-gen-cont div.pt_group {
  background-color: #D6D6D6;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 50px;
}

#mf-gen-cont div.pt_field {
  background-color: #FFFFFF;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 50px;
}

#mf-gen-cont .removefield, 
#mf-gen-cont .removegroup {
  float: right;
  cursor: pointer;
  color: #21759B;
}

#mf-gen-cont div.addgroupbutton input {
  margin-left: 50px;
}

#mf-gen-cont input.addfield {
  margin-top: 20px;
  margin-left: 50px;
}

#mf-gen-cont #snippets {
  float: right;
  width: 160px;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

#mf-gen-cont #snippets ul {
  list-style: none;
  width: 160px;
}

#mf-gen-cont #snippets ul li {
  float: left;
  width: 80px;
  margin: 0;
  padding: 0;
}

#mf-gen-cont #snippets ul li a, 
#mf-gen-cont #snippets ul li span {
  display: block;
  width: 66px;
  padding: 5px 5px 5px 5px;
  border: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 3px;
  margin: 1px;
  background: rgba(255, 255, 255, 0.7);
}

#mf-gen-cont #snippets ul li a:hover, 
#mf-gen-cont #snippets ul li span:hover {
  background: white;
}

body.post-php .postbox .mf_group .mf-field:hover, 
body.post-new-php .postbox .mf_group .mf-field:hover {
  background: #f0f0f0;
}

body.post-php .postbox .mf_toolbox, 
body.post-new-php .postbox .mf_toolbox {
  cursor: default;
  background-color: #FFF;
  height: 34px;
  padding: 0;
  margin-bottom: 0;
}

body.post-php .postbox .mf_toolbox .mf-counter, 
body.post-php .postbox .mf_toolbox .sortable_mf, 
body.post-new-php .postbox .mf_toolbox .mf-counter, 
body.post-new-php .postbox .mf_toolbox .sortable_mf {
  height: 34px;
  width: 34px;
  margin: 0px 2px 0 2px;
  color: black;
}

body.post-php .postbox .mf_toolbox .sortable_mf, 
body.post-new-php .postbox .mf_toolbox .sortable_mf {
  background: url("../images/order.png") no-repeat center center;
  position: relative;
  margin-left: -80px;
  margin-right: 10px;
}

body.post-php .postbox .mf_toolbox .mf-counter, 
body.post-new-php .postbox .mf_toolbox .mf-counter {
  cursor: default;
  background: none;
  border-left: 1px solid #ebebeb;
  padding-left: 3px;
  margin-left: 46px;
  color: #666;
  line-height: 36px;
  font-size: 16px;
}

body.post-php .postbox .mf_tip, 
body.post-new-php .postbox .mf_tip {
  font-size: 12px;
  padding-left: 18px;
  padding-top: 1px;
}

body.post-php .postbox .text_field_mf input, 
body.post-php .postbox .text_field_mf .checkbox_mf, 
body.post-new-php .postbox .text_field_mf input, 
body.post-new-php .postbox .text_field_mf .checkbox_mf {
  margin-top: 0px;
}

body.post-php .postbox .mf_toolbox_controls, 
body.post-new-php .postbox .mf_toolbox_controls {
  margin-top: 11px;
}

body.post-php .postbox .mf_toolbox_controls a, 
body.post-new-php .postbox .mf_toolbox_controls a {
  font-size: 12px;
  margin-right: 10px;
  text-transform: lowercase;
}

body.post-php .postbox .mf_toolbox_controls a span, 
body.post-new-php .postbox .mf_toolbox_controls a span {
  margin-right: 1px;
  text-transform: none;
}

body.post-php #postbox-container-1 .mf_toolbox_controls, 
body.post-new-php #postbox-container-1 .mf_toolbox_controls {
  width: 60%;
  margin-top: 3px;
}

body.post-php #postbox-container-1 .mf-counter, 
body.post-new-php #postbox-container-1 .mf-counter {
  border-right: 1px solid #ebebeb;
  padding-right: 3px;
}

body.post-php #postbox-container-1 .sortable_mf, 
body.post-new-php #postbox-container-1 .sortable_mf {
  margin-left: -83px;
}



body.post-php .postbox .mf_duplicate_group + .mf_duplicate_group {
  margin-top: 20px;
}

body.post-php .postbox .mf_duplicate_group .mf_toolbox:nth-child(1) {
  background: #F8F8F8;
  z-index: 100;
  position: relative;
  border-top: 0;
  background: #ffffff;
}

body.post-php .postbox .mf_duplicate_group .mf_toolbox:last-child {
  border-bottom: 0;
}

body.post-php .mf-group-wrapper {
  border: none;
  background: #FFF;
}
body.post-php .postbox .mf_duplicate_group .mf_toolbox .mf-counter{
  margin-left: 0;
  border-left: none;
}

body.post-php .mf-group-wrapper .mf_group {
  border: 1px solid #eaeaea;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
}

body.post-php .postbox .mf_group .mf-field:hover, 
body.post-new-php .postbox .mf_group .mf-field:hover {
  background: transparent;
}

body.post-php .mce-tinymce.mce-container.mce-panel{
  border: 1px solid #eaeaea;
}

body.post-php .mf-group-wrapper .mf-field{
  border-top: 0;
  background: none;
}

body.post-php .wp-media-buttons{
  margin-left: 10px
}

.file_preview{
  min-width: 120px;
}

.mf-field-ui .image_photo img {
  max-width: 150px;
}